/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/UserData/
/AssetDownloads/
/_SceneCraftDownload/
/CaptureFrames/
/Validation/
/Assets/InitTestScene*
.DS_Store
Thumbs.db
*.mp4.meta
*.gif.meta
.env
.env.*
*.key
*.pem
/.vs/
/.vsconfig
/.idea/
/.vscode/
/.plastic/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
crashlytics-build.properties
